##########################################################################################
[segment_songs]
##########################################################################################

##Filtering and padding params------------------------------------------------------------

#Low cut for our butter bandpass filter (Hz)
lowcut: 50 

#High cut for our butter bandpass filter (Hz)
highcut: 15000 

#Size of your window (s)
rms_window:  .01

#Step size for moving the filter (s)
rms_stride: .01

#Threshold percent of maximum noise to consider silence
noise_thresh: .01 

#Pad waveform extracted (s)
segment_padding: 4.0 

#Pad around vocalizations (s)
rms_padding: 1.0
#Min amplitude of a wav to be considered containing sound
min_amp_val: 1000

#Min length of a bout to be to counted (s)
min_segment_length_s: 10.

#Max length of a bout to be to counted (s)
max_segment_length_s: 200.  

#Threshold of the pct of time that the wav is silent
min_silence_pct: 0.05  


##FFT params------------------------------------------------------------------------------

#How many bins to use in a spectrogram
num_freq:1024

#Wav sampling rate ?(Hz)
sample_rate:44100

#Preemphasis
preemphasis:0.97 

#Reference dB for computing spectra
ref_level_db:20 

#Length of FFT window (ms)
frame_length_ms:40

#Step size for fft window (ms)
frame_shift_ms:40 # step size for fft

#Threshold for spectrograms (lower filters out more noise)
min_level_db: -50

# Min freq for max power before calling noise
max_power_f_min: 1000


##Vocal range-----------------------------------------------------------------------------
#Filter based upon power-frequency envelope (Hz)
vocal_freq_min : 700
vocal_freq_max : 15000


##########################################################################################
[semgent_syllables]
##########################################################################################

'species':'BF',
# filtering
'highcut':15000,
'lowcut':500,
    
# spectrograms
'mel_filter': True, # should a mel filter be used?
'num_mels':syll_size, # how many channels to use in the mel-spectrogram
'num_freq':512, # how many channels to use in a spectrogram 
'num_freq_final': syll_size, # how many channels to use in the resized spectrogram
'sample_rate':44100, # what rate are your WAVs sampled at?
'preemphasis':0.97, 
'min_silence_for_spec': 0.5, #minimum length of silence for a spectrogram to be considered a good spectrogram
'frame_shift_ms':0.5, # step size for fft
'frame_length_ms':6, # frame length for fft
'min_level_db':-95, # minimum threshold db for computing spe 
'spec_thresh_min': -40, # (db)
'spec_thresh_delta': 5, # (db) what 
'ref_level_db':20, # reference db for computing spec
'sample_rate':44100, # sample rate of your data
'fmin': 300, # low frequency cutoff for mel filter
'fmax': None, # high frequency cutoff for mel filter
    
#Vocal Envelope
smoothing' : 'gaussian', # 'none', 
envelope_signal' : "spectrogram", # spectrogram or waveform, what to get the vocal envelope from
gauss_sigma_s': .0001,
FOI_min': 4, # minimum frequency of interest for vocal envelope (in terms of mel)
FOI_max': 24, # maximum frequency of interest for vocal envelope (in terms of mel)
    
# Silence Thresholding
silence_threshold' : 0, # normalized threshold for silence
min_len' : 5., # minimum length for a vocalization (fft frames)
power_thresh': .3, # Threshold for which a syllable is considered to be quiet weak and is probably noise

#Syllabification
min_syll_len_s' : 0.03, # minimum length for a syllable
segmentation_rate': 0.0,#0.125, # rate at which to dynamically raise the segmentation threshold (ensure short syllables)
threshold_max': 0.25,
min_num_sylls': 20, # min number of syllables to be considered a bout
slow_threshold':0.0,#0.02, # second slower threshold
max_size_syll': syll_size, # the size of the syllable
resize_samp_fr': int(syll_size*5.0), # (frames/s) the framerate of the syllable (in compressed spectrogram time components)
    
#Sencond pass syllabification
second_pass_threshold_repeats':50, # the number of times to repeat the second pass threshold
ebr_min': 0.05, # expected syllabic rate (/s) low 
ebr_max':  0.2, # expected syllabic rate (/s) high 
max_thresh':  0.02, # maximum pct of syllabic envelope to threshold at in second pass
thresh_delta':  0.005, # delta change in threshold to match second pass syllabification
slow_threshold': 0.005, # starting threshold for second pass syllabification
    
pad_length' : syll_size, # length to pad spectrograms to 
    
    # spectrogram inversion
max_iters':200,
griffin_lim_iters':60,
power':1.5,

# Thresholding out noise
mel_noise_filt' : 0.15, # thresholds out low power noise in the spectrum - higher
numbers will diminish inversion quality

    
[cluster_syllables]
